{% extends 'base.html' %}
{% block content %}
    <header class="header--form-page">
    {% include 'navigation.html' %}\

    <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
              Imię: {{ user.first_name }}<br>
              Nazwisko: {{ user.last_name }}<br>
              E-mail: {{ user.email }}<br>
          </h1>
        </div>


      </div>
    </header>
    <section id="stats" class="stats">
        <div class="stats--item">
            <em>Moje dary:</em>
        </div><br>
    <table class="simple-table">
        <thead>
        <tr style="color: black;">
            <th>Ilość worków</th>
            <th>Organizacja</th>
            <th>Kategorie</th>
            <th>Data odbioru</th>
            <th>Odbiór zrealizowany</th>
        </tr>
        </thead>
        <tbody>
        {% for donations in user.donation_set.all %}
        <tr class="simple-table">
            <th>{{ donations.quantity }}</th>
            <td>{{ donations.institution }}</td>
            <td>{% for donation in donations.categories.all %}
                            {{ donation }}
                        {% endfor %}</td>
            <td>{{ donations.pick_up_date }}</td>
            {% if donations.is_taken is False %}
            <td id="donation-status" style="color: red;">
                Nieodebrane <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="taken" value="{{ donations.id }}">
                    Odebrane</button></form>
                {% else %}
             <td style="color: green;">
                Odebrane <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="not-taken" value="{{ donations.id }}">
                    Nieodebrane</button></form>
                </td>
            {% endif %}
        </tr>
        </tbody>
        {% endfor %}
    </table>
    </section>
{% endblock %}